*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.itemcard{
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    height:100px;
    margin: 20px;
    display: flex;
    box-shadow: -6px -6px 10px #f9f9f9,
                6px 6px 10px #00000026;
}

.itemcard:hover{
    box-shadow: 2px 2px 20px #f9f9f9,
                -2px -2px 20px #00000026;
}

.itemcard>img{
height:100px;
width: 100px;
border-right: solid black;
margin-left: 5px;
margin-right: 10px;
}
.singleItem{
    display:flex;
    
}
.quantity{
    display:flex;
}
.quantity>select{
    margin:10px;
    width:50px;
}
.itemDescription{
width: 400px;
padding-left: 30px;
}
.singleItem>img{
height: 400px;
width: 400px;
border: 2px solid lightgray;
border-radius: 25px;
padding: 20px;
}
.cart{
    position: fixed;
    top:0;
    right:0;
}
.cart>svg{
    width: 50px;
    height: 50px;
    transition: width 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    
}

.cart>svg:hover{
    width: 60px;
    height: 60px;
}
.cart>span{
    margin-right: 5px;
}

.accountSymbol{
    position: fixed;
    top: 0;
    right: 100px;
}
.accountSymbol>svg{
    width: 50px;
    height: 50px;
    transition: width 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}
.accountSymbol>svg:hover{
    width:60px;
    height:60px;
}

.accountInfo{
    border: 2px solid black;
    border-radius: 25px;
    width: 400px;
    margin: auto;
    width: 50%;
    padding: 20px;
}
.navBar{
    padding: 0px;
    margin-bottom: 40px;
}
.navBar>nav{
    padding: 0px;
    height:30px;


}
.navBar>nav>ul{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding: 0px;
    border: 3px solid black;
    border-radius: 20px;
    height:50px;
    

}

.navBar>nav>ul>li{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    padding: 0px;
}
.navBar>nav>ul>li:hover{
    border: 2px solid black;
}
.navBar>nav>ul>li>a{
    
    color: blue;
    align-items:center;
}